body {
    perspective: 800px;
}
@font-face {
    font-family: 'icomoon';
    src:  url('../../fonts/icomoon.eot?llgclb');
    src:  url('../../fonts/icomoon.eot?llgclb#iefix') format('embedded-opentype'),
      url('../../fonts/icomoon.ttf?llgclb') format('truetype'),
      url('../../fonts/icomoon.woff?llgclb') format('woff'),
      url('../../fonts/icomoon.svg?llgclb#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.w {
    margin: 0 auto;
    width:1200px;
}
.head {
    font-size: 12px;
    background-color: #333;
    width: 100%;
    height: 40px;
}
.head .head-bar-left ul li {
    float: left;
    line-height: 40px;
    text-align: center;
}
.head .head-bar-left ul li:nth-child(odd) {
    margin: 0 3.24px;
}
.head .head-bar-left ul li:nth-child(odd):hover a {
     color: white;
}
.head .head-bar-left ul li:nth-child(even) {
    display: inline-block;
    margin: 13px 3.24px;
    width: 1px;
    height: 16px;
    background-color: #424242;
}
.head .head-bar-left ul li a  {
    color: #b0b0b0;
}
.head .head-bar-right ul li {
    float: right;
    text-align: center;
    line-height: 40px;
    margin:0 3.24px;
}
.head .head-bar-right ul li:nth-child(odd) a {
     color: #b0b0b0;
}
.head .head-bar-right ul li:nth-child(even) {
    display: inline-block;
    margin: 13px 3.24px;
    width: 1px;
    height: 16px;
    background-color: #424242;
}
.head .head-bar-right ul li:first-child {
    width: 120px;
}
.head .head-bar-right ul li:first-child:hover {
    background-color: rgba(0,0 ,0, .5);
}
.head .head-bar-right ul li:first-child::before {
    margin-right: 20px;
    color: #ccc;
    content: '\e900';
    font-family: 'icomoon';
}
.head-nav-bar {
    position: relative;
    height: 88px;

}
.nav-logo {
    background-color: orangered;
    position: absolute;
    top: 16.5px;
    left: 0;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
}
.nav-logo a {
    color: #fff;
}
.head-nav-bar .head-nav-list {
    position: absolute;
    left: 200px;
    top: 0;
    height: 88px;
    line-height: 88px;
    text-align: center;
}
.head-nav-bar .head-nav-list ul li {
    padding: 0 12px;
    float: left;
}
.head-nav-bar .head-nav-list ul li a {
    color: #333;
    font-size: 16px;
}
.head-nav-bar .head-nav-list ul li a:hover {
    color: orangered;
}
.head-nav-bar .head-nav-search {
    position: absolute;
    right: 40px;
    top: 16.5px;
}
.head-nav-bar .head-nav-search input:first-child {
    outline: none;
    float: left;
    width: 223px;
    height: 48px;
    padding-left: 15px;
}
.head-nav-bar .head-nav-search input:last-child {
    cursor: pointer;
    margin-left: -1px;
    outline: none;
    float:left;
    width: 48px;
    height: 48px;
    text-align: center;
}
.head-nav-bar .head-nav-search input:last-child:hover {
    cursor: pointer;
    background-color: orangered;
}
.swiper-bar {
    overflow: hidden;
    position: relative;
    height: 460px;
    width: 1226px;
}
.swiper-bar .list-imgs ul {
    position: absolute;
    width: 700%;
}
.swiper-bar .list-imgs ul li {
    float: left;
}
.swiper-bar .list-imgs ul li img {
    width: 1226px;
}
.swiper-bar ol li {
    float: left;
    margin-right: 5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #999;
}
.swiper-bar ol {
    position:absolute;
    width: 100px;
    height: 30px;
    right: 40px;
    bottom: 10px;
}
.curret {
    background-color: orangered;
}
.currets {
    color: orangered!important;
}
.swiper-bar .swiper-right {
    display: none;
    position: absolute;
    cursor: pointer;
    right: -15px;
    top: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 50px;
    background-color: rgba(0,0 ,0, .3);
}
.swiper-bar .swiper-right span {
    display: inline-block;
    margin-top: 15px;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;

}
.swiper-bar .swiper-left {
    display: none;
    cursor: pointer;
    position: absolute;
    left: 250px;
    top: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 50px;
    background-color: rgba(0,0 ,0, .3);
}
.swiper-bar .swiper-left span {
    display: inline-block;
    margin-top: 15px;
    margin-left: 8px;
    width: 20px;
    height: 20px;
    transform: rotate(-135deg);
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;

}
.swiper-bar .swiper-left:hover {
    cursor: pointer;
    background-color: rgba(0,0 ,0, 0);
}
.swiper-bar .swiper-right:hover {
    cursor: pointer;
    background-color: rgba(0,0 ,0, 0);
}
.swiper-bar .swiper-right:hover span {
    border-top: 1px solid red;
    border-right: 1px solid red;
}
.swiper-bar .swiper-left:hover span {
    border-top: 1px solid red;
    border-right: 1px solid red;
}
.swiper-bar .list-shop {
    position: absolute;
    z-index: 999;
    left: 0;
    top: 0;
    width: 234px;
    height: 460px;
    background-color: rgba(0,0 ,0, .3);
}
.swiper-bar .list-shop ul li {
    position: relative;
    margin-top: 5px;
    height: 42px;
    padding-left: 30px ;
}
.swiper-bar .list-shop ul li a {
    color: #fff;
}
.swiper-bar .list-shop ul li:hover {
    background-color:orangered
}
.swiper-bar .list-shop ul li span {
      position: absolute;
      right: 20px;
      top: 10px;
      width: 10px;
      height: 10px;
      border-top: 1px solid black;
      border-right: 1px solid black;
      transform: rotate(45deg);
}
.head-last-bar {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 1226px;
    height: 170px;
}
.head-last-bar .last-left {
    width: 234px;
    height: 100%;
    background-color: rgba(0,0 ,0, .7);
}
.head-last-bar .last-left ul li {
    position: relative;
    margin: 1px;
    float: left;
    width: 76px;
    height: 82px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
}
.head-last-bar .last-left ul li:nth-child(3n){
    border-right: none;
}
.head-last-bar .last-left ul li:nth-child(n + 4){
    border-bottom: none;
}
.head-last-bar .last-left ul li a img {
    position: absolute;
    top: 15px;
    left: 24px;
    width: 24px;
    height: 24px;
}
.head-last-bar .last-left ul li span {
    position: absolute;
    top: 45px;
    left: 18px;
    font-size: 12px;
    color: #ccc;
}
.head-last-bar .last-left ul li span:hover {
    cursor: pointer;
    opacity: .5;
}
.head-last-bar .last-left ul li a img:hover {
    opacity: .5;
}
.head-last-bar .last-right ul {
    position: absolute;
     right: 0;
     top: 0;  
}
.head-last-bar .last-right ul li {
    margin-left: 10px;
    float: left;
    }
.head-last-bar .last-right ul li a img {
    width: 316px;
    height: 170px;
}
.middle-bar {
    width: 100%;
    background-color: #F5F5F5;
}
.shangou {
    width: 1226px;
    height: 57.6px;
}
.shangou h1 {
    padding-top: 18px;
    font-size: 22px;
    color: #333;
}
.miaosha {
    width: 1226px;
    height: 339px;
}
.miaosha ul li:first-child {
    position: relative;
    height: 339px;
    width: 234px;
    background-color:#f1eded;
}
.miaosha ul li .time {
    position: absolute;
    top: 70px;
    width: 100%;
    line-height: 46px;
    text-align: center;
    color: #EF3A3B;
    font-size: 21PX;
}
.miaosha ul li:first-child a img {
    position: absolute;
    top: 120px;
    left: 100px;
    width: 34px;
    height: 53px;
}
.miaosha ul li .went {
    position: absolute;
    top: 200px;
    left: 80px;
    color: #0000008A;
    font-size: 15px;
}
.miaosha ul li .save-time {
    position: absolute;
    top: 240px;
    left: 30px;
}
.miaosha ul li .save-time div {
    display: inline-block;
    width: 46px;
    height: 46px;
    line-height: 46px;
    font-size: 24px;
    text-align: center;
    background-color: #605751;
    color: #fff;
}
.miaosha ul li .save-time i {
    display: inline-block;
    font-style: normal;
    text-align: center;
    width: 15px;
    height: 46px;
    font-size: 28px;
}
.miaosha ul li {
    overflow: hidden;
    float: left;
    margin-right: 11px;
}
.miaosha ul li:last-child {
    margin-right: none;
}
.miaosha ul li a img {
    width: 234px;
    height: 339px;
    transition: all .3s ease;
}
.miaosha ul li a img:hover {
    transform: scale(1.1);
}
.xiaomiTenth {
    width: 1226px;
    height: 120px;
    margin: 40px auto;
}
.xiaomiTenth a img {
    width: 1226px;
    height: 120px;
}
.xiaomiMTitle {
    width: 1226px;
    height: 57.6px;
    margin: 20px auto;
    margin-bottom: 0;
}
.xiaomiMTitle h1 {
    font-size: 22px;
    font-family: Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
    float: left;
    font-weight: normal;
    line-height: 57.6px;
    text-align: center;
    margin-left: 15px;
}
.xiaomiMTitle h3 {
    font-size: 16px;
    font-family: Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
    float: right;
    font-weight: normal;
    line-height: 57.6px;
    text-align: center;
    margin-right: 30px;
}
.xiaomiMobles {
    width: 1226px;
    height: 614px;
    margin: 0 auto;
}
.xiaomiMobles .xiaomi-left {
    width: 234px;
    height: 614px;
    float: left;
}

.xiaomiMobles .xiaomi-left a img {
    width: 234px;
    height: 614px;
    transition: all .3s;
}
.xiaomiMobles .xiaomi-left a img:hover {
    transform: translateY(-3px);
    box-shadow: 3px 3px 2px rgba(0,0 ,0, .3);
}
.xiaomiMobles .xiaomi-right ul li {
    overflow: hidden;
    background-color: #fff;
    float: left;
    position: relative;
    margin-left: 14px;
    width: 234px;
    height: 300px;
    transition: all .2s;
}
.xiaomiMobles .xiaomi-right ul li:nth-child(-n + 4){
    margin-bottom: 14px;
}
.xiaomiMobles .xiaomi-right ul li:hover {
    transform: translateY(-3px);
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(0,0 ,0, .1);
}
.xiaomiMobles .xiaomi-right ul li a img {
    width: 160px;
    height: 160px;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.xiaomiMobles .xiaomi-right ul li h3 {
    position: absolute;
    height: 20.8px;
    width: 100%;
    top: 190px;
    left: 0;
    line-height: 20.8px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}
.xiaomiMobles .xiaomi-right ul li p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: absolute;
    top: 215px;
    left: 0;
    width: 100%; 
    height: 18px;
    font-size: 12px;
    color: #B0B0B0;
    line-height: 18px;
    text-align: center;
}
.xiaomiMobles .xiaomi-right ul li span {
    position: absolute;
    top: 243px;
    left: 0;
    line-height: 18px;
    height: 18px;
    width: 100%;
    text-align: center;
    color: #FF6700;
    font-size: 14PX;
}
.xiaomijiadian {
    width: 1226px;
    height: 120px;
    margin: 20px auto;
}
.xiaomijiadian a img {
    width: 1226px;
    height: 120px;
}
.xiaomiJD {
    width: 1226px;
    height: 57.6px;
    margin: 20px auto;
    margin-bottom: 0;
}
.xiaomiJD h1 {
    font-size: 22px;
    font-family: Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
    float: left;
    font-weight: normal;
    line-height: 57.6px;
    text-align: center;
    margin-left: 15px;
}
.xiaomiJD h3 {
    border-bottom: 1px solid orangered;
    font-size: 16px;
    font-family: Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
    float: right;
    font-weight: normal;
    line-height: 57.6px;
    text-align: center;
    margin-right: 30px;
}
.xiaomidianshi {
    width: 1226px;
    margin: 15px auto;
    height: 650px;
}
.xiaomidianshi ul li a img {
    transition:all .2s;
    width: 234px;
    height: 300px;
}
.xiaomidianshi ul li {
    overflow: hidden;
    float: left;
    width: 234px;
    height: 300px;
    margin-right: 14px;
    margin-bottom: 14px;
}
.xiaomidianshi ul li:nth-child(5n){
    margin-right: 0;
}
.xiaomidianshi ul li a img:hover{
    transform: translateY(-3px);
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(0,0 ,0, .1);
}
.footer {
    position: relative;
    background-color: #fff;
    margin: 0 auto;
    width: 1226px;
    height: 350px;
}
.footer .userRight {
   position: absolute;
   top: 0;
   left: 0;
   height: 80px;
   width: 100%;
   border-bottom: 1px solid #999 ;
}
.footer .userRight ul li {
    float: left;
}
.footer .userRight ul li:nth-child(odd) {
    /* width: 241px; */
    height: 100%;
}
.footer .userRight ul li:nth-child(odd) span {
    font-size: 16px;
    padding-left: 30px;
    line-height: 80px;
    text-align:center;
    content: '';
    font-family: 'icomoon';
}
/* .footer .userRight ul li span::before {
    color: #ccc;
    content: '';
    font-family: 'icomoon';
    margin-right: 8px;
} */
.footer .userRight ul li:nth-child(odd) span:hover {
    cursor: pointer;
    color: orangered;
}
.footer .userRight ul li:nth-child(even) {
    display: inline-block;
    cursor:   no-drop  ;
    margin: 34px 57px;
    width: 1px;
    height: 16px;
    background-color: #424242;
}
.footer-help {
    position: absolute;
    left: 0;
    top: 80px;
    margin: 0 auto;
    width: 1226px;
    height: 249.8px;
}
.footer-help .help-left {
    float: left;
}
.footer-help .help-right {
    float: right;
}
.footer-help .help-left dl {
    float: left;
    width: 160px;
    margin: 40px 0;
}
.footer-help .help-left dl dt {
    color: #424242;
    font-size: 14px;
    padding-bottom: 30px;
}
.footer-help .help-left dl dd {
    height: 27.6px;
    font-size: 12px;
    color: #757575;
}
.footer-help .help-left dl dd:hover {
    cursor: progress;
       color: #FF6700;
}
.footer-help .help-right {
    width: 226px;
    height: 110.2px;
    margin-top: 40px;
    border-left: 1px solid #ccc;
}
.footer-help .help-right h3 {
    height: 21.6px;
    line-height: 21.6px;
    color: #Ff6700;
    text-align: center;
    width: 100%;
}
.footer-help .help-right p {
    height: 17.6px;
    color: #767676;
    font-size: 12px;
    text-align: center;
}
.footer-help .help-right a {
    display: inline-block;
    width: 120px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: #FF6700;
    margin-left: 55px;
    text-align: center;
    border: 1px solid #FF6700;
}
.footer-help .help-right h4 {
    text-align: center;
    margin-top: 5px;
    height: 16px;
    line-height: 16px;
    font-size: 12px;
    color: #666;
}
.footer-info {
    position: absolute;
    left: 0;
    top: 350px;
    margin: 0 auto;
    width: 1226px;
    height: 500px;
    background-color: #FAFAFA;
}
.footer-info .help-info {
    width: 1226px;
    height: 88.8px;
}
.footer-info .help-info .logos {
    float: left;
    width: 72px;
    height: 100%;
}
.footer-info .help-info .info-rights {
    float: left;
}
.footer-info .help-info .info-rights p {
    line-height: 18px;
    font-size: 12px;
    color: #B0B0B0;
}
.footer-info .help-info .info-rights p:first-child {
    color: #757575;
}
.footer-info .footer-logo-imgs {
    width: 1226px;
    height: 40px;
}
.footer-info .footer-logo-imgs ul li {
    float: left;
}
.footer-info .footer-logo-imgs ul {
    margin-left: 72px;
}
.footer-info .footer-logo-imgs ul li:nth-child(-n + 4) a img {
    width: 83px;
    height: 28px;
    margin-top: 6px;
}
.footer-info .footer-logo-imgs ul li:last-child a img {
    height: 40px;
    width: 105px;
}
.footer-info .footer-miTimes {
    margin-top: 10px;
    margin-left: 403px;
} 
.footer-info .footer-miTimes p {
    color: #333;
    font-size: 20px;
    font-family: Georgia;
}
